/* Global Reset */
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #444444;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 225, 225);
}
.wrapper {
  border: rgba(155, 155, 155, 0.7) solid 1px;
  border-radius: 0.5rem;
  padding: 2rem;
}
.dir-header {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -0.3rem;
}

.card {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  max-width: 420px;
  margin: 1rem 0;
}

.card h2 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: -0.2rem;
  border-bottom: #fff solid 1px;
}

.card > * {
  margin: 1rem 0;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  border-radius: 1.5rem;
  outline: none;
  padding: 0.75rem;
  background: rgba(155, 155, 155, 0.2);
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
}

button {
  border: none;
  color: #fff;
  margin-left: 0.5rem;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease-in-out;
}
button:hover {
  background: rgba(155, 155, 155, 0.7);
}

.user-output {
  list-style-type: none;
}
